*{
	box-sizing:border-box;
	margin:0;
	padding:0;	
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-high:100vh;
	font-family: 'Cormorant Garamond', serif;
	background: linear-gradient(90deg, rgba(255,255,255,0.8852994372990354) 0%, rgba(255,225,225,1) 0%, rgba(255,242,242,1) 100%);
}	
#container{
	margin-top:200px;
	width:650px;
	
	background-color:#fff;
	box-shadow: 0 0 10px #ffa64d;
}
form{
	
padding:30px;
font-size:20px;

}	
h1{
	text-align:center;
	margin-bottom:10px;
	font-size:50px;
	color:rgb(204, 136, 0);
}

#amount-box{
	margin-bottom:15px;
}
#amount-box label{
	display: inline-block;
	margin-bottom:5px;
	font-size:28px;
}
#amount-box input{
	width: 100%;
	padding: 10px;
	font-size:15px;
	border: 3px solid rgb(230, 153, 0);
	border-radius: 4px;
}	
#period-box{
	margin-bottom:15px;
}
#period-box label{
	display: inline-block;
	margin-bottom:5px;
	font-size:28px;
}
#period-box input{
	width: 100%;
	padding: 10px;
	font-size:15px;
	border: 3px solid rgb(230, 153, 0);
	border-radius: 4px;	
}
#rate-box{
	margin-bottom:15px;
}
#rate-box label{
	display: inline-block;
	margin-bottom:5px;
	font-size:28px;
}
#rate-box input{
	width: 100%;
	padding: 10px;
	font-size:15px;
	border: 3px solid rgb(230, 153, 0);
	border-radius: 4px;	
}

#button{
	display:flex;
	float:left;
	margin-right:10px;
	
	
}
#button:hover {
	background-color:#ffe6b3;

}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #ffe6b3;
  transform: translateY(4px);
  margin-bottom:10px;
  
}
#button input{
	font-size:25px;
	color:#000;
	background-color:rgb(230, 153, 0);
	border: 3px solid rgb(230, 153, 0);
	border-radius:4px;
	width:150px;
	padding:5px;
	
}
#final-result echo{
	display:flex;
	float:right;
	
}
#final-result-style{
	font-size:25px;
	color:#000;
	background-color:rgb(255, 204, 102);
	border: 3px solid rgb(230, 153, 0);
	border-radius:4px;
	width:auto;
	padding:5px;
	float:right;	
	margin-bottom:15px;
	margin-right:50px;
	
}
#error ol{
margin: 20px; 
padding: 10px 10px 10px 30px; 
border-radius: 5px; 
background-color: #f88; 
width:600px;
List-style: none;
font-size:17px;
	

}




